@model LoginPassword

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Вход</title>
</head>

<body>


	<script src='@Url.Content("~/Scripts/jquery-3.0.0.min.js")'></script>
	<link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
	<script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>


	@using (Html.BeginForm())
	{

		<div class="pl-4">
			<!-- login -->
			<div class="form-group">
				@Html.LabelFor(model => model.Login, new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.Login, new { @class = "form-control" })
				</div>
			</div>

			<!-- password -->
			<div class="form-group">
				@Html.LabelFor(model => model.Password, new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.Password, new { @class = "form-control" })
				</div>
			</div>

			<!-- Войти -->
			<div class="form-group">
				<input id="submit" value="Войти" class="btn btn-info" />
			</div>
		</div>
	}

</body>
</html>
<script>
	document.getElementById("submit").addEventListener('click', function () {
		location.href = '@Url.Action("Accept","Authentication",  new RouteValueDictionary( new { login = Model.Login , password = Model.Password }))';
	});
</script>
